@import "variables";
@import "mixins";
@import "text";

body {
  background-color: $bgColor;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $textColor;
}

.page-content {
  flex: 1;
  padding-top: 2rem;
}

//header > navigation

header {
  i {
    font-size: 1.8rem;
    color: $textColor;
  }
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.primary-nav {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 37em) {
  .primary-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(10vh, 10rem);

    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2rem);

    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    border: none;
    z-index: 9999;
    background-color: transparent;
    color: white;
    top: 2rem;
    right: 2rem;
  }
}

//imgages

img {
  width: 100%;
}
.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 130px;
  max-height: 500px;
  img {
    transform: scale(2);
    @include md {
      transform: scale(1);
    }
  }
}
